<!--
  Generated template for the RegisterDatasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registerDatas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form novalidate [formGroup]="myFormUser" (ngSubmit)="sendDatas(myFormUser.value)">
    <!-- Username -->
    <ion-item>
      <ion-label stacked>USERNAME</ion-label>
      <ion-input formControlName="username" [(ngModel)]="check.username" type="text"
        placeholder="put your username here :)"
        [class.invalid]="!myFormUser.controls.username.valid &&  myFormUser.controls.username.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!myFormUser.controls.username.valid && myFormUser.controls.username.dirty">
      <p>(3-25) characteres</p>
    </ion-item>

    <!-- Personal info -->
    <ion-item>
      <ion-label stacked>How your describe?</ion-label>
      <ion-textarea formControlName="describe" [(ngModel)]="check.describe" placeholder="I like bananas :3"
        [class.invalid]="!myFormUser.controls.describe.valid &&  myFormUser.controls.describe.dirty">
      </ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!myFormUser.controls.describe.valid && myFormUser.controls.describe.dirty">
      <p>please tell me something :(</p>
    </ion-item>
    <!-- Region info-->
    <ion-item>
      <ion-label stacked>Country</ion-label>
      <ion-select formControlName="country" [(ngModel)]="check.country" placeholder="Select Country"
        [class.invalid]="!myFormUser.controls.country.valid &&  myFormUser.controls.country.dirty">
        <!-- <ion-option value="" default></ion-option> -->
        <ion-option ngValue value="spain">Spain</ion-option>
        <ion-option value="italy">Italy</ion-option>
        <ion-option value="germany">Germany</ion-option>
        <ion-option value="france">France</ion-option>
      </ion-select>
    </ion-item>
    <!-- Image of profile -->

    <button ion-button block type="submit" [disabled]="myFormUser.invalid || !isDownload"
      (click)="presentToastSuccessfully(myFormUser.value)">Enviar</button>
  </form>
  <button ion-button clear (click)="grabPicture()">Take a photo</button>
  <!-- <button ion-button (click)="choosePicture()">Choose photo</button> -->
  <img src="{{photo}}" />
</ion-content>